:root {
    --primary-color: #525251;
    --secondary-color: #ff5100;
    --grid-color: #9b59b6;
    --background-color: #878786;
    --grid-background-color: #f9f9f9;
  }
  
.NewButton{
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
  box-shadow: 0px 5px 20px black;
  max-height: 4em;
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.NewButton:hover{
  border-style: solid;
  border-color: white;
}
.CustomerCard{
  box-shadow: 10px 15px 20px black;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--primary-color);
  margin: 20px;
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  max-width: 25%;
  font-weight: bold;
  height: 75%;
  vertical-align: auto;
}

.InfoItem {
  box-shadow: 10px 15px 20px black;
  background-color: var(--background-color);
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  flex: 1;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 5px 20px black;
  max-height: 4em;
  display: flex;
  align-items: center;
}

.CustomerInfo{
  box-shadow: 10px 15px 20px black;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--primary-color);
  margin: 20px;
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  max-width: 25%;
  font-weight: bold;
  height: 75%;
  vertical-align: auto;
}

.CustomerInfoInvis{
  display: none;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--primary-color);
  margin: 20px;
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  max-width: 25%;
  font-weight: bold;
  height: 75%;
  vertical-align: auto;
}

.CustomerCardInvis{
  display: none;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--primary-color);
  margin: 20px;
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  max-width: 25%;
  font-weight: bold;
  height: 75%;
  vertical-align: auto;
}

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./assets/R.jpg");
    background-size: 120%;
  }

  .headline {
    background-color: rgb(37, 37, 37);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 4rem;
    padding: 1rem;
    box-shadow: 0px 5px 20px black;
  }

  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }

p{
  color: white;
}

.smallContainer{
  display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--primary-color);
    margin: 0.5em;
    flex: 1;
    border: 1px solid #ccc;
    flex-direction: column;
    border-radius: 10px;
    max-width: 25%;
    height: 25%;
    box-shadow: 10px 15px 20px black;
}

input{
  height: 2em;
  border-radius: 8px;
}
  .customerList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--primary-color);
    margin: 0.5em;
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    max-width: 25%;
    font-weight: bold;
    height: 100vh;
    box-shadow: 10px 15px 20px black;
  }
  
  .customerList :hover {
    background-color: var(--secondary-color);
  }
  
  .item {
    background-color: var(--background-color);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    flex: 1;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    max-height: 4em;
    display: flex;
    align-items: center;
  }

  .inputItem{
    background-color: var(--background-color);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    flex: 1 1;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    max-height: 4em;
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 1em;
    justify-content: right;
  }

  /* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: var(--grid-background-color);
  }
  
  .grid-item {
    background-color: var(--grid-color);
    color: #fff;
    padding: 20px;
    text-align: center;
  } */
  
  @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .item {
        flex: 1 1 100%;
    }
  }